<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style/cadastro.css">
    <title>Cadastro de Participante</title>
</head>
<body>
    <h1>Cadastro de Participante</h1>
    <form method="post" action="/cadastrar">
        <div class="input">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
        </div>
        <div class="input">    
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="input">
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
        </div>
        <div class="input">
            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco" required>
        </div>
        <div class="input">
            <label for="telefone">Telefone:</label>
            <input type="tel" id="telefone" name="telefone" required>
        </div>
        <input type="submit" value="Cadastrar" id="btnCadastrar">
    </form>

    <script type="module" src="../controller/cadastro.js"></script>
</body>
</html>