<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style/index.css">
    <title>Leilão</title>
</head>
<body>
    <header>
        <h1>Leilão</h1>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Items do leilão</h2>
            <div>
                <div>
                    <img src="https://via.placeholder.com/150" alt="Imagem do produto">
                    <h3>Nome do produto</h3>
                    <p>Descrição do produto</p>
                    <p>Valor inicial: R$ 0,00</p>
                    <p>Valor atual: R$ 0,00</p>
                    <button>Ofertar</button>
                </div>
                <div>
                    <img src="https://via.placeholder.com/150" alt="Imagem do produto">
                    <h3>Nome do produto</h3>
                    <p>Descrição do produto</p>
                    <p>Valor inicial: R$ 0,00</p>
                    <p>Valor atual: R$ 0,00</p>
                    <button>Ofertar</button>
                </div>
                <div>
                    <img src="https://via.placeholder.com/150" alt="Imagem do produto">
                    <h3>Nome do produto</h3>
                    <p>Descrição do produto</p>
                    <p>Valor inicial: R$ 0,00</p>
                    <p>Valor atual: R$ 0,00</p>
                    <button>Ofertar</button>
                </div>
                <div>
                    <img src="https://via.placeholder.com/150" alt="Imagem do produto">
                    <h3>Nome do produto</h3>
                    <p>Descrição do produto</p>
                    <p>Valor inicial: R$ 0,00</p>
                    <p>Valor atual: R$ 0,00</p>
                    <button>Ofertar</button>
                </div>
            </div>
        </section>

    </main>
    <footer>
        <p>Desenvolvido por: Rudr1gu</p>
    </footer>

    <script type="module" src="../model/App.js"></script>
</body>
</html>