<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style/login.css">
    <title>Tela de Login</title>
</head>
<body>
    <div class="container">
        <h2>Tela de Login</h2>
        <form>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password">
            </div>
            <div class="form-group">
                <button type="submit" id="btnEnviar">Entrar</button>
            </div>
        </form>
    </div>

    <script type="module" src="../controller/verificar.js"></script>
</body>
</html>